name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Rodar Black
        run: black --check .

      - name: Rodar Flake8
        run: flake8 .

      - name: Rodar testes com coverage
        run: pytest --cov=etl --cov-report=term --cov-fail-under=90

